@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap');

@font-face {
    font-family: "dot_font";
    src: url('./dotFontTtf.ttf') format('truetype');
    src: url('./dotFontOtf.otf') format('opentype');
} /* ドットフォント */

:root {
    --default-font-family: "Murecho", sans-serif;
    --dot-font-family: "dot_font", monospace;
    --source-code-font: "Source Code Pro", monospace;
}

* {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--default-font-family);
}

*:not(input, small, h2, h3, button, textarea) {
    font-size: 20px;
    appearance: none;
}

body, html {
    background: rgb(171, 213, 255);
    background-attachment: fixed;
}

#area {
    appearance: none;
    border-radius: 10px 10px;
    font-size: 25px;
}

#user {
    max-width: 90%;
}

#box, .box {
    border: 2px solid rgb(67, 131, 199);
    border-radius: 10px 10px;
    width: 90%;
    background-color: rgb(251, 253, 255);
    box-shadow: 0px 0.3px 4px 0px rgba(0, 0, 0, 0.35);

    @media screen and (max-width: 480px) {
        width: 98%;
    }
}

.button, .text {
    appearance: none;
    width: 95%;
    border: 2px solid rgb(67, 131, 199);
    box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px 10px;
    outline: none;
}

#area {
    width: 95%;
    height: 430px;
}

.no_warp {
    display: inline-block;
}

.special_icon {
    width: 23px;
    height: 23px;
}

hr {
    width: 80%;
}

/* テーブル関連 */

th {
    border: 1.5px solid rgb(67, 131, 199);
}

td {
    border: 1.5px solid rgb(115, 156, 201);
}

table {
    width: 95%;
}

textarea {
    appearance: none;
    border: 2px solid rgb(67, 131, 199);
    width: 90%;
    height: 30vh;
    font-size: 13px;
    box-shadow: 0px 1.5px 1.5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px 10px;
    outline: none;
}

/* ソースコード関連 */

#code > code > pre {
    font-family: var(--source-code-font);
    font-size: 15px;
    text-align: left;
    overflow: scroll;
    white-space: pre-wrap;
}

#code {
    background-color: rgb(26, 26, 26);
    color: white;

    border: 3px white solid;
    height: 100%;
    width: 90%;
}

a.link_color {
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

/*ホバー時の色*/
a.link_color:hover {
    color: rgb(67, 131, 199);
}

/* ボタン */

.button,  #button {
    appearance: none;
    text-align: center;
    text-decoration: none;
    background: rgb(255, 255, 255);
    margin: auto;
    font-weight: bold;
	border: 2px solid rgb(67, 131, 199);
	color: rgb(67, 131, 199);
    border-radius: 100vh;
    transition: 0.3s;
    box-shadow: 0px 1.5px 1.5px 0px rgba(0, 0, 0, 0.35);
}

.button:hover, #button:hover {
    color: #fff;
    background: rgb(67, 131, 199);
}

.button {
    padding: 0.6rem 0.8rem;
}

#button {
    font-size: 25px;
	display: block;
	padding: 0.5rem 3rem;
} 

.button-game {
	padding: 0.5rem 2rem;
	border-radius: 10px;
}
/* ボタンここまで */

.hutoji{
    font-weight: 900;
}

.torikeshi{
    text-decoration: line-through;
}

.shatai{
    font-style: italic;
}

.input{
    appearance: none;
    border: 2px solid rgb(67, 131, 199);
    box-shadow: 0px 1.5px 1.5px 0px rgba(0, 0, 0, 0.35);
    outline: none;
}

/* ハンバーガーメニュー */

#hamburger_menu {
    #hamburger_menu_content {
        overflow-y: scroll;
        /* スクロールバーを作る */
        scrollbar-width: thin;
        scrollbar-color: rgb(16, 102, 194) rgb(171, 213, 255);
        
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        @media screen and (max-width: 480px){
            width: 100%;
        }
        height: 100vh;
        background-color: rgb(171, 213, 255);
        border: 5px solid rgb(16, 102, 194);
        border-radius: 20px 0px 20px 20px;
        @media screen and (max-width: 480px){
            border-radius: 0px;
        }
        z-index: 100;

        >:first-child {
            margin-top: 85px;
        }

        ul > li {
            list-style-type: none;
            border: 2px solid rgb(16, 102, 194);
            border-radius: 20px 0px 0px 20px;

            a, div {
                color: rgb(16, 102, 194);
                text-decoration: none;
                display: block;
                padding: 20px;
            }

            div:hover {
                cursor: pointer;
            }

            >:hover {
                background-color: rgb(86, 170, 255);
                border-radius: 20px 0px 0px 20px;
            }

            .menu_option {
                display: none;
                background-color: rgb(171, 213, 255);
                border-radius: 20px;

                ul > li {
                    list-style-type: none;
                    border: 2px solid rgb(16, 102, 194);
                    border-radius: 20px;
    
                    a {
                        color: rgb(16, 102, 194);
                        text-decoration: none;
                        display: block;
                        padding: 10px;
                    }
    
                    >:hover {
                        background-color: rgb(86, 170, 255);
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    #hamburger_menu_button {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        /* 縦横はディスプレイの大きさによって変える */
        width: 80px;
        height: 80px;
        border: 5px solid rgb(16, 102, 194);
        border-radius: 20px 0px 20px 20px;
        background-color: rgb(171, 213, 255);
        z-index: 101;

        opacity: 1;
        @media screen and (max-width: 480px){
            opacity: 0.5;
        }

        > #line1,
        > #line2,
        > #line3 {
            /* ハンバーガーメニュー用の線 */
            right: 10px;
            display: block;
            position: relative;
            
            width: 50px;
            border: 5px solid white;
            border-radius: 20px;
            background-color: white;
            margin: 10px;

            transition: 0.3s;
        }
    }

    #hamburger_menu_button:hover {
        opacity: 1;
    }
}